// $navbar-default-bg: #08088a;

// .container-fluid {
//   // margin-left: 1000;
//   // margin-right: 1000;
//   // padding: 20px;
// }

@import 'bootstrap-sprockets';
@import 'bootstrap';

#logo {
  float: left;
  font-size: 1.7em;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.container-fluid {
  margin-left: 5vw;
  margin-right: 5vw;
}

.jumbotron {
  background-image: asset-url('cover.png');
  background-size: 100% 100%;
  height: 80vh;
  width: 100%;
  background-repeat: no-repeat;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-custom {
  font-size: 1.7em;
  background-color: #05252a;
}

.btn-custom:hover {
  background-color: #081a29;
  border-color: #8cb6da;
}

footer {
  margin-top: 30px;
  padding: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
  margin-top: 1px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.listing {
  list-style: none;
  padding-left: 0;
}
